.span_texts{
    font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */


/* Labels/Light/Quarternary */

color: #505050;
}
.span_text{
    font-weight: 400;
font-size: 12px;
line-height: 18px;
color: 
#53B175;
}
.products_title{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


/* Labels/Light/Primary */

color: #000000;
}