.shopping {
    margin-bottom: 200px;
}

.shoping_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    /* Dark blue */

    color: #282938;
}

.shooping_link {
    padding: 8px 16px;
    text-decoration: none;
    background: #E2F0E8;
    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #181725;
}

.card_title {
    letter-spacing: 0.1px;

    color: #181725;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.Btn_increment {
    border: none;
    background: none;
}

.Btn_decrement {
    border: none;
    background: none;
}

.shopping_sale {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #808080;
}
.shooping_price{
    font-weight: 700;
font-size: 24px;
line-height: 36px;

/* Backgrounds/Action/Second */

color: #53B175;
}
.price_content{
    width: 350px;
    padding: 30px 24px;
    background: #FFFFFF;
box-shadow: 0px 25px 50px 5px #F6F7FF;
border-radius: 25px;
}
.price_text{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Labels/Light/Quarternary */

color: #505050;
}
.cards_text{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Labels/Light/Quarternary */

color: #505050;
}
.cards_text{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Labels/Light/Quarternary */

color: #505050;
}
.cards_title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.card_button{
    display: block;
    text-align: center;
    border: none;
    padding: 10px 90px;
    margin-right: 0px;
    margin-bottom: 20px;
    background: #53B175;
border-radius: 30px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Backgrounds/Light/Primary */

color: #FFFFFF;
}
.card_buttons{
    display: block;
    border: none;
    padding: 10px 80px;
    background: rgba(83, 177, 117, 0.1);
    border-radius: 30px;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #181725;
}
